<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.SensitiveWordMapper">
    <select id="getSensitiveWordSet" resultType="String">
        select word from sensitive_word
    </select>
</mapper>